# Archivos de compilación de Maven
engine/target/
**/target/

# Archivos y carpetas de configuración de VS Code (opcional pero recomendado)
.vscode/
*.factorypath
.apt_generated/

# Archivos temporales de Java y compilados
*.class
*.jar
*.war

# Entornos virtuales
.venv/
venv/
env/

# Caché de Python y uv
__pycache__/
*.py[cod]
.uv/

# Node / Frontend
**/node_modules/
**/dist/
*.log